html {
  height: 100vh;
  width: 100vw;
}

body {
  font-size: 1rem;
}

.add-button {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  padding: 0 0.7rem 0.2rem 0.7rem;
}

.button-image {
  width: 1.6rem;
}

.cursor-pointer {
  cursor: pointer;
}

.logo {
  width: 100px;
}

.main-container {
  width: 100vh;
  min-height: 100vh;
  background-color: white;
}

.photo {
  width: 100px;
}

.serif {
  font-family: "Yeseva One", serif;
}

.tiny-button {
  height: 1.6rem;
  width: 1.6rem;
}

@media (min-width: 768px) {
  .main-container {
    width: 768px;
  }
}
