body {
  background-color: white;
  font-size: 1rem;
}

.serif {
  font-family: "Yeseva One", serif;
}

.cursor-pointer {
  cursor: pointer;
}

.tiny-button {
  height: 1.6rem;
  width: 1.6rem;
}

.mw-75 {
  max-width: 75%;
}

.logo {
  width: 100px;
}

.add-button {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  padding: 0 0.7rem 0.2rem 0.7rem;
}

.photo {
  width: 100px;
}

.button-image {
  width: 1.6rem;
}
